/** Navigatie | Niet meer gebruikt **/
.topnav {
    background-color: #1464dc;
    overflow: hidden;
    padding: 0px;
    min-width:inherit;
    max-width: 525px;
    margin: auto;
    border-radius: 20px;
}
      
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
        
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
        
}
          
.topnav a.split {
    float: right;
    background-color: #DC143C;
    color: white;
}


/** Simpele tekst **/
body {
    background-color: #ebebe2;
    font-family: Roboto;
}
head {
    background-color: #ebebe2;
}
h1 {
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    padding: 10px;
    max-width: 600px;
    margin: auto;
}
#titel {
  display:flex; 
  align-items: center; 
  justify-content: center;
  font-size: 40px;
}

/** foto gallerij **/
    /* card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px 16px;
    background-color: #ddd;
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Responsive image gallery rules begin*/
  
  .image-gallery {
    text-align: left;
    display: flex;
    border-radius: 25px;
  }
  
  .image-gallery > li {
    /* fallback */
    display: inline-block;
    width: 350px;
    margin: 0 5px 10px 5px;
    /* end fallback */
    position: relative;
    cursor: pointer;
  }
  
  @supports (display: flex) {
    .image-gallery {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
  
    .image-gallery > li {
      flex-basis: 350px; /*width: 350px;*/
      margin: 0;
    }
  
    .image-gallery::after {
      content: "";
      flex-basis: 350px;
    }
  }
  
  .image-gallery li img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 5px;
  }
  
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    border-radius: 5px;
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* hover */
  .image-gallery li:hover .overlay {
    transform: scale(1);
  }


/** Quiz **/
